<div>
  <h2> Alaplap lista</h2>
</div>

<table>
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let motherboard of motherboards" >
    <td> {{ motherboard.model }} </td>
    <td> {{ motherboard.details }} </td>
    <td> {{ motherboard.price }} </td>
    <td>
      <button (click) = "updateMotherboard(motherboard.id)"> Módosítás</button>
      <button (click) = "deleteMotherboard(motherboard.id)" class = "deletebutton"> Törlés</button>
      <button (click) = "motherboardDetails(motherboard.id)"> Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>

Alaplap létrehozása: <button routerLink="../create-motherboard" class="addbutton">+</button>