<div>
    <h2> Konfiguráció létrehozása </h2>
</div>

<form action="" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label> Válassz egy processzort:</label>
        <select id="processorselector" name="processor" >
            <option *ngFor="let processor of processors">{{'Id: ' + processor.id + ', Modell: ' + processor.model + ', Specifikációk: ' + processor.details + ', Ár: ' + processor.price}} </option>
        </select>
    </div>
    <div class="form-group">
        <label> Válassz egy tápegységet:</label>
        <select id="powersupplyselector" name="powersupply">
            <option *ngFor="let powersupply of powersupplies"> {{'Id: ' + powersupply.id + ', Modell: ' + powersupply.model + ', Specifikációk: ' + powersupply.details + ', Ár: ' + powersupply.price}} </option>
        </select>
    </div>
    <div class="form-group">
        <label> Válassz egy alaplapot:</label>
        <select id="motherboardselector" name="motherboard">
            <option *ngFor="let motherboard of motherboards"> {{'Id: ' + motherboard.id + ', Modell: ' + motherboard.model + ', Specifikációk: ' + motherboard.details + ', Ár: ' + motherboard.price}} </option>
        </select>
    </div>
    <div class="form-group">
        <label> Válassz egy memóriát:</label>
        <select id="memoryselector" name="memory">
            <option *ngFor="let memory of memories"> {{'Id: ' + memory.id + ', Modell: ' + memory.model + ', Specifikációk: ' + memory.details + ', Ár: ' + memory.price}} </option>
        </select>
    </div>
    <div class="form-group">
        <label> Válassz egy merevlemezt:</label>
        <select id="harddrivediskselector" name="harddrivedisk">
            <option *ngFor="let harddrivedisk of harddrivedisks"> {{'Id: ' + harddrivedisk.id + ', Modell: ' + harddrivedisk.model + ', Specifikációk: ' + harddrivedisk.details + ', Ár: ' + harddrivedisk.price}} </option>
        </select>
    </div>

    Konfiguráció neve:
    <input type="text" name="name" id="name" style="width: 26.5%;">
    <button class="savebutton" type="submit">Mentés</button>
</form>


