<div>
    <h2> Aktuális konfiguráció </h2>
</div>

<p>Processzor:</p>
<table>
    <thead>
        <tr>
          <th> Modell</th>
          <th> Részletek </th>
          <th> Ár</th>
          <th> Műveletek </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor = "let processor of processors" >
          <td> {{ processor.model }} </td>
          <td> {{ processor.details }} </td>
          <td> {{ processor.price }} </td>
          <td>
            <button (click) = "deleteProcessor(processor.id)" class="deletebutton"> Törlés</button>
            <button (click) = "processorDetails(processor.id)"> Megtekintés</button>
          </td>
        </tr> -->
    <tbody>
</table>

<p>Tápegység:</p>
<table>
    <thead>
        <tr>
          <th> Modell</th>
          <th> Részletek </th>
          <th> Ár</th>
          <th> Műveletek </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor = "let processor of processors" >
          <td> {{ processor.model }} </td>
          <td> {{ processor.details }} </td>
          <td> {{ processor.price }} </td>
          <td>
            <button (click) = "deleteProcessor(processor.id)" class="deletebutton"> Törlés</button>
            <button (click) = "processorDetails(processor.id)"> Megtekintés</button>
          </td>
        </tr> -->
    <tbody>
</table>

<p>Alaplap:</p>
<table>
    <thead>
        <tr>
          <th> Modell</th>
          <th> Részletek </th>
          <th> Ár</th>
          <th> Műveletek </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor = "let processor of processors" >
          <td> {{ processor.model }} </td>
          <td> {{ processor.details }} </td>
          <td> {{ processor.price }} </td>
          <td>
            <button (click) = "deleteProcessor(processor.id)" class="deletebutton"> Törlés</button>
            <button (click) = "processorDetails(processor.id)"> Megtekintés</button>
          </td>
        </tr> -->
    <tbody>
</table>

<p>Memória:</p>
<table>
    <thead>
        <tr>
          <th> Modell</th>
          <th> Részletek </th>
          <th> Ár</th>
          <th> Műveletek </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor = "let processor of processors" >
          <td> {{ processor.model }} </td>
          <td> {{ processor.details }} </td>
          <td> {{ processor.price }} </td>
          <td>
            <button (click) = "deleteProcessor(processor.id)" class="deletebutton"> Törlés</button>
            <button (click) = "processorDetails(processor.id)"> Megtekintés</button>
          </td>
        </tr> -->
    <tbody>
</table>

<p>Merevlemez:</p>
<table>
    <thead>
        <tr>
          <th> Modell</th>
          <th> Részletek </th>
          <th> Ár</th>
          <th> Műveletek </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor = "let processor of processors" >
          <td> {{ processor.model }} </td>
          <td> {{ processor.details }} </td>
          <td> {{ processor.price }} </td>
          <td>
            <button (click) = "deleteProcessor(processor.id)" class="deletebutton"> Törlés</button>
            <button (click) = "processorDetails(processor.id)"> Megtekintés</button>
          </td>
        </tr> -->
    <tbody>
</table>

Konfiguráció neve: <input type="text" name="" id="">

<button class="savebutton" style="margin-left: 540px;"> Mentés </button>
