<div class = "row">
  <h2> Memory List</h2>
</div>

<table class = "table table-striped table-bordered">
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let memory of memories" >
    <td> {{ memory.model }} </td>
    <td> {{ memory.details }} </td>
    <td> {{ memory.price }} </td>
    <td>
      <button (click) = "updateMemory(memory.id)" class = "btn btn-primary"> Módosítás</button>
      <button (click) = "deleteMemory(memory.id)" class = "btn btn-danger" style="margin-left: 10px"> Törlés</button>
      <button (click) = "memoryDetails(memory.id)" class = "btn btn-primary" style="margin-left: 10px"> Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>
