<div>
  <h2> Memória lista</h2>
</div>

<table>
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let memory of memories" >
    <td> {{ memory.model }} </td>
    <td> {{ memory.details }} </td>
    <td> {{ memory.price }} </td>
    <td>
      <button (click) = "updateMemory(memory.id)" > Módosítás</button>
      <button (click) = "deleteMemory(memory.id)" class = "deletebutton"> Törlés</button>
      <button (click) = "memoryDetails(memory.id)" > Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>

Memória létrehozása: <button routerLink="../create-memory" class="addbutton">+</button>