<div>
  <h2> Tápegység lista</h2>
</div>

<table>
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let powersupply of powersupplies" >
    <td> {{ powersupply.model }} </td>
    <td> {{ powersupply.details }} </td>
    <td> {{ powersupply.price }} </td>
    <td>
      <button (click) = "updatePowerSupply(powersupply.id)"> Módosítás</button>
      <button (click) = "deletePowerSupply(powersupply.id)" class = "deletebutton"> Törlés</button>
      <button (click) = "powersupplyDetails(powersupply.id)"> Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>

Tápegység létrehozása: <button routerLink="../create-powersupply" class="addbutton">+</button>