<h1>Gépösszeállító</h1>

<ul>
  <a routerLink="processors">
    <li class="tab">
      Processzorok
    </li>
  </a>

  <a routerLink="powersupplies">
    <li class="tab">
      Tápegységek
    </li>
  </a>

  <a routerLink="motherboards">
    <li class="tab">
      Alaplapok
    </li>
  </a>

  <a routerLink="memories">
    <li class="tab">
      Memóriák
    </li>
  </a>

  <a routerLink="harddrivedisks">
    <li class="tab">
      Merevlemezek
    </li>
  </a>

  <a routerLink="create-config">
    <li class="tab">
      Konfiguráció létrehozása
    </li>
  </a>

  <a routerLink="configs">
    <li class="tab">
      Konfigurációk
    </li>
  </a>
</ul>

<!-- <h1> {{title}} </h1> -->

<div class = "container">
  <router-outlet></router-outlet>
</div>