<div>
  <h2> Processzor lista</h2>
</div>

<table>
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let processor of processors" >
    <td> {{ processor.model }} </td>
    <td> {{ processor.details }} </td>
    <td> {{ processor.price }} </td>
    <td>
      <button (click) = "updateProcessor(processor.id)"> Módosítás</button>
      <button (click) = "deleteProcessor(processor.id)" class="deletebutton"> Törlés</button>
      <button (click) = "processorDetails(processor.id)"> Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>

Processzor létrehozása: <button routerLink="../create-processor" class="addbutton">+</button>

