h2 {
    margin: 20px 20px 20px 20px;
    color: white;
    text-align: center;
}

[data-tab-content] {
    padding-top: 20px;

    display: none;
    background-color: #F8F8FF;
    border-radius: 0px 0px 10px 10px;
    margin: 0px 18px 10px 10px;
}

[data-tab-content] > * {
    margin-top: 0px;
    margin-left: 20px;
}

.active[data-tab-content] {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    background-color: #030003;
}

.tabs {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.tab {
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #52A3FF;
    color: white;
}

.tab:hover {
    background-color: #2E5B8E;
}

.tab.active {
    margin-bottom: 0px;
    background-color: #F8F8FF;
    border-radius: 10px 10px 0px 0px;
    color: black;
}

form.myform {
    display: table;
}

div.myform {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

input {
    border-radius: 5px 5px 5px 5px;
}

table {
    border-collapse: collapse;
    /* width: 400px; */
    text-align: left;
}

th {
    padding-right: 40px;
}