<div>
  <h2> Merevlemez lista</h2>
</div>

<table>
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let harddrivedisk of harddrivedisks" >
    <td> {{ harddrivedisk.model }} </td>
    <td> {{ harddrivedisk.details }} </td>
    <td> {{ harddrivedisk.price }} </td>
    <td>
      <button (click) = "updateHardDriveDisk(harddrivedisk.id)"> Módosítás</button>
      <button (click) = "deleteHardDriveDisk(harddrivedisk.id)" class = "deletebutton"> Törlés</button>
      <button (click) = "harddrivediskDetails(harddrivedisk.id)"> Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>

Merevlemez létrehozása: <button routerLink="../create-harddrivedisk" class="addbutton">+</button>