<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Alaplap létrehozása </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label> Modell</label>
            <input type="text" class="form-control" id="model" [(ngModel)]="motherboard.model"
                   name="model">
          </div>

          <div class="form-group">
            <label> Részletek</label>
            <input type="text" class="form-control" id="details" [(ngModel)]="motherboard.details"
                   name="details">
          </div>

          <div class="form-group">
            <label> Ár</label>
            <input type="text" class="form-control" id="price" [(ngModel)]="motherboard.price"
                   name="price">
          </div>

          <br />
          <button class="savebutton" type="submit">Mentés</button>

        </form>
      </div>
    </div>
  </div>
</div>
