<div class = "row">
  <h2> Config List</h2>
</div>

<table class = "table table-striped table-bordered">
  <thead>
  <tr>
    <th> Modell</th>
    <th> Részletek </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let config of configs" >
<!--    <td> {{ config.name }} </td>-->
<!--    <td> {{ config.processor }} </td>-->
<!--    <td> {{ config.powersupply }} </td>-->
<!--    <td> {{ config.motherboard }} </td>-->
<!--    <td> {{ config.memory }} </td>-->
<!--    <td> {{ config.harddrivedisk }} </td>-->
<!--    <td> {{ config.price }} </td>-->
    <td>
      <button (click) = "deleteConfig(config.id)" class = "btn btn-danger" style="margin-left: 10px"> Törlés</button>
      <button (click) = "configDetails(config.id)" class = "btn btn-primary" style="margin-left: 10px"> Megtekintés</button>
    </td>
  </tr>
  </tbody>
</table>
