<div>
  <h2> Konfiguráció lista</h2>
</div>

<table>
  <thead>
  <tr>
    <th> Név</th>
    <th> Processzor </th>
    <th> Tápegység </th>
    <th> Alaplap </th>
    <th> Memória </th>
    <th> Merevlemez </th>
    <th> Ár</th>
    <th> Műveletek </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let config of configs" >
<!--    <td> {{ config.name }} </td>-->
<!--    <td> {{ config.processor }} </td>-->
<!--    <td> {{ config.powersupply }} </td>-->
<!--    <td> {{ config.motherboard }} </td>-->
<!--    <td> {{ config.memory }} </td>-->
<!--    <td> {{ config.harddrivedisk }} </td>-->
<!--    <td> {{ config.price }} </td>-->
    <td>
      <button (click) = "deleteConfig(config.id)" class = "deletebutton"> Törlés </button>
      <button (click) = "configDetails(config.id)"> Megtekintés </button>
    </td>
  </tr>
  </tbody>
</table>
